body {
  background-image: url(../images/mars.jpg); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: whitesmoke;
  font-size: 20px;
  font-family:space;
  display:fixed;
  justify-content: center;
  overflow:auto;
  position:relative;
  
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  }

  .topnav{
    background-color: #090;
    font-size: 100%;
  }
  
  .roverPics {
padding:10%;
margin-top:3%;
float: center;
width:120%;
height:100%;
object-fit:contain;
overflow:hidden;
max-width: 100%;
    z-index: 1;
    border-radius:50%;
    
  }

 .nav-item {
   z-index: 1;
   text-decoration: none;
  
}


.image1 {
  position: inherit;
    display:block;
    padding:20%;
    margin-left:0%;
    margin-top: -33%;
    opacity: .25;
  filter: alpha(opacity=60);
}

.loginDiv {
  margin-top: -150%;
  padding-bottom: 10%;
  margin-bottom: 0%;
  margin-left: 40%;
  text-align: center;
  background-color: none; 
  opacity: .9;
  width:25%;
  -webkit-text-stroke-width: 100%;
  -webkit-text-stroke-color: black;
  font-size: 24px;
  font-family:space;
  z-index: 1;
}
.loginButton {
  height: 45%;
  margin-left: 0%;
  margin-right: 10%;
  margin-top: 10%;
}

.newUserDiv {
  border:25px;
  margin-top: -130%;
  margin-bottom: 0%;
  margin-left: 40%;
  text-align: center;
  background-color: none;
  opacity: .9;
  width:25%;
  -webkit-text-stroke-width: .50px;
  -webkit-text-stroke-color: black;
  font-size: 24px;
  font-family:space;
}
.submit2button {
  margin-top: 100%;
}

.typewriter{
    display:block;
    padding:2%;
    position:relative;
    margin-top:3%;
    margin-left:5%;
    display:block;
  text-shadow: 200%;
    text-shadow:
  0 0 200px rgb(139, 7, 13);
}
.typewriter h1 {
  color: white;
  font-family: monospace;
  font-size:111%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(40, end),
    blink-caret .75s step-end;
    max-width:95%;
  }
.typewriter h2 {
  color: white;
  font-family: monospace;
  font-size:111%;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .12em; /* Adjust as needed */
animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end;
  max-width:95%;
  -webkit-animation-delay: 4s;
  -webkit-animation-fill-mode: both;
}
.typewriter h3 {
display:   block;
  color: white;
  font-family: monospace;
  font-size:111%;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .20em; /* Adjust as needed */
animation: 
  typing 3.5s steps(40, end),
  blink-caret .75s step-end;
  max-width:95%;  text-shadow:
  0 0 200px rgb(139, 7, 13);
  text-shadow: 150%;
  font-weight: 485%;
    -webkit-animation-delay:8s;
  -webkit-animation-fill-mode: both;
}
.typewriter h4{
  display:block;
  position:absolute;
  color: white;
font-weight: 485%;
text-align: center;
text-transform: uppercase;
font-size:500%;
text-shadow: 150%;
margin-left:10%;
margin-bottom:-25%;
text-shadow:
0 0 20px rgb(145, 8, 19);
overflow: hidden; 
white-space: nowrap;   
border-right: .15em solid orange; /* The typwriter cursor */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .20em; /* Adjust as needed */
animation: 
typing 3.5s steps(40, end),
blink-caret .75s step-end;
max-width:95%;  text-shadow:
0 0 200px rgb(139, 7, 13);
-webkit-animation-delay:13s;
-webkit-animation-fill-mode: both;
}
.typewriter h5 {
  padding-top: 10%;
  display:block;
  position:absolute;
  color: white;
font-weight: 500%;
text-align: center;
text-transform: uppercase;
font-size:990%;
text-shadow: 500%;
margin-left:10%;
text-shadow:
0 0 20px rgb(145, 8, 19);
overflow: hidden; 
white-space: nowrap;   
border-right: .15em solid orange; /* The typwriter cursor */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .70em; /* Adjust as needed */
animation: 
typing 4s steps(60, end),
blink-caret .75s step-end;
max-width:95%;  text-shadow:
0 0 200px rgb(139, 7, 13);
-webkit-animation-delay: 15s;
-webkit-animation-fill-mode: both;

}

.typewriter h6{
  display:inline-block;
  position:fixed;
  padding-bottom:15%;
  position:absolute;
  color: white;
font-weight: 485%;
text-align: center;
text-transform: uppercase;
font-size:205%;
text-shadow: 200%;
margin-left:10%;
margin-bottom:-40%;
text-shadow:
0 0 20px rgb(145, 8, 19);
overflow: hidden; 
white-space: nowrap;   
border-right: .15em solid orange; /* The typwriter cursor */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .55em; /* Adjust as needed */
animation: 
typing 5s steps(40, end),
blink-caret .75s step-end;
max-width:95%;  text-shadow:
0 0 200px rgb(139, 7, 13);
-webkit-animation-fill-mode: both;
}

.screen {
  animation:colorPulse 5s infinite ease-in-out;
  box-shadow:0 0 5% 1% #000 inset;
  box-sizing:border-box;
  font-family:'Fira Mono', monospace;
  font-size:20px;
  height:20%;
  overflow:hidden;
  padding:50%;
  width:50%;
}

.screen:before {
  animation:wave 10s infinite ease-in-out;
  content:"";
  height:20vh;
  left:0;
  opacity:.5;
  position:absolute;
  right:0;
  z-index:1;
}

.screen:after {
  background-image:linear-gradient(transparent, transparent 3px, #222);
  background-size:10% 4px;
  bottom:0;
  content:"";
  left:0;
  pointer-events:none;
  position:absolute;
  right:0;
  top:0;
  z-index:2;
}

p:last-child:after {
  animation:blink 1s infinite;
  content:"_";
}
#articles {
  display:block;
  padding:20%;
  }
  
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

@keyframes colorPulse {
  0%, 100% {
    color:#0c0;
  }
  48%, 52% {
    color:#090;
  }
  50% {
    color:#060;
  }
}

@keyframes wave {
  0% {
    box-shadow:0 -10vh 20vh #0c0;
    top:-100vh;
  }
  48%, 52% {
    box-shadow:0 -10vh 20vh #090;
  }
  50% {
    box-shadow:0 -10vh 20vh #060;
  }
  100% {
    box-shadow:0 -10vh 20vh #0c0;
    top:200vh;
  }
}

@keyframes blink {
  50% {
    opacity:0;
  }
}

  .loading{
    float:center;
    position:absolute;
    padding-right:100%;
    padding-top:10%;
    margin-top:20%;
  }

  svg {
    position: absolute;  
  }
  
  circle:nth-of-type(1) { fill: #ffffff; }
  circle:nth-of-type(2) { fill: #fcd837; }
  circle:nth-of-type(3) { fill: #f9a11f; }
  circle:nth-of-type(4) { fill: #f27c21; }
  
  #clackers {
  /*   border: 1px solid white; */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .wrap
  {
    margin:10% auto 0 auto;
    width:100%;
    display:flex;
    align-items:space-around;
    max-width:100%;
    margin-left:1.5%;

  }
  .tile
  {
    text-align: center;
    width:380px;
    height:380px;
    margin:10px;
    background-color:#090;
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
    font-family:'Roboto';
    border-radius:50%;
    
  }
  .tile img
  {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    transition: all 0.4s ease-out;
  }
  .tile .text
  {
  /*   z-index:99; */
    position:absolute;
    padding:30px;
    height:calc(100% - 60px);
  }
  .tile h1
  {
   
    font-weight:300;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  }
  .tile h2
  {
    font-weight:100;
    margin:20px 0 0 0;
    font-style:italic;
     transform: translateX(200px);
  }
  .tile p
  {
    font-weight:300;
    margin:20px 0 0 0;
    line-height: 25px;
  /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
  }
  .animate-text
  {
    opacity:0;
    transition: all 0.6s ease-in-out;
  }
  .tile:hover
  {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform:scale(1.05);
  }
  .tile:hover img
  {
    opacity: 0.2;
  }
  .tile:hover .animate-text
  {
    transform:translateX(0);
    opacity:1;
  }
  
  
  .tile:hover span
  {
    opacity:1;
    transform:translateY(0px);
  }
  
  .dots span:nth-child(1)
  {
     transition-delay: 0.05s;
  }
  .dots span:nth-child(2)
  {
     transition-delay: 0.1s;
  }
  .dots span:nth-child(3)
  {
     transition-delay: 0.15s;
  }
  
 


