body {
    background-image: url(../images/mars.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
    font-size: 20px;
    font-family:space;
}

     :root {
    font-size: calc(1vw + 1vh + 1.5vmin);
  }
  
   h1 {
      padding:50px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size:75px;
  }
  
  .neon {
    display: none;
    color: #fff;
    text-shadow:
      0 0 20px #fff;
      
      
  }
  .loginDiv {
    padding:25px;
    border:25px;
    margin-top: 25%;
    margin-left: 435px;
    text-align: center;
    background-color: none;
    opacity: .9;
    width:25%;
    -webkit-text-stroke-width: .50px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
    font-family:space;


  }

  